.games a>div{
    /* width: 21rem;
    height: 33.5rem; */
    width: 18rem;
    height: 29rem;
    /* background: url(../public/valo.png) center ; */
    /* -webkit-filter: grayscale(100%);  */
    /* filter: grayscale(100%); */
    /* background-size: cover; */
    background-image:
    linear-gradient(black, black),
    url(../public/valo.png);
  background-size: cover;
  background-blend-mode: saturation;
    /* backgroun ; */
}